---
layout: default
title: Home
---

<p class="lead">Freelance principal product designer with over 10 years experence, focused on end-to-end design for startups & edTech. I also teach creatives how to start freelancing without going broke.</p>

<div class="row text-link">
    <div class="col-md-3">
        <a target="_blank" href="/" class="btn btn-dark"> View design portfolio</a>
    </div>
    <div class="col-md-3">
        <a target="_blank" href="/" class="h6"> Get Freelance Tips</a>
    </div>
</div>


<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

